---
title: Configurações de Aparência
layout: panel
theme_name: ls-theme-gold
panel: painel1
alias: rj
user: MaisWeb Rio de Janeiro
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-cog">Aparência</h1>
<p>Personalize e deixe o e-mail marketing com a cara da sua empresa.</p>
<form action="" class="ls-form">
  <div class="row">
    <div class="col-md-9">

      <div class="ls-box">
        <form class="ls-form">
          <label class="ls-label">
            <b class="ls-label-text ">Nome da Revenda</b>
            <input type="text" name="nome" value="MaisWeb" required data-ls-module="charCounter" maxlength="30">
          </label>
        </form>
      </div>

      <div class="ls-box">
        <h2 class="ls-title-2">Identificação do painel e dos e-mails</h2>
        <p>Será exibido no cabeçalho do painel e dos e-mails recebidos pelos clientes</p>

        <div class="ls-box ls-box-gray">
          <label class="ls-label  ">
            <input type="radio" name="nome" checked="checked">
            <span class="ls-label-text ls-display-inline-block">Nome do Produto</span>
          </label>
        </div>

        <div class="ls-box ls-box-gray">
          <label class="ls-label  ">
            <input type="radio" name="nome">
            <span class="ls-label-text ls-display-inline-block">logo</span>
            <p>Envie uma imagem JPG, PNG ou GIF. Ela será exibida com no máximo 440 pixels de largura e 70 pixels de altura.</p>
          </label>
          <input type="file" >
        </div>
      </div>

      <div class="ls-box">
        <h2 class="ls-title-2">Cor padrão</h2>
        <p>Escolha uma cor como padrão para o seu email marketing.</p>
        <div class="row ls-select-color">
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector yellow" id="resale_layout_color_yellow" name="resale[layout_color]" type="radio" value="yellow">
              <label for="resale_layout_color_yellow" class="rev-label-color yellow" title="Selecionar esta cor">
                Selecionar cor:
                amarelo
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector aqua" id="resale_layout_color_aqua" name="resale[layout_color]" type="radio" value="aqua">
              <label for="resale_layout_color_aqua" class="rev-label-color aqua" title="Selecionar esta cor">
                Selecionar cor:
                aqua
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector blue" id="resale_layout_color_blue" name="resale[layout_color]" type="radio" value="blue">
              <label for="resale_layout_color_blue" class="rev-label-color blue" title="Selecionar esta cor">
                Selecionar cor:
                azul
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector navy_blue" id="resale_layout_color_navy_blue" name="resale[layout_color]" type="radio" value="navy_blue">
              <label for="resale_layout_color_navy_blue" class="rev-label-color navy_blue" title="Selecionar esta cor">
                Selecionar cor:
                azul marinho
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input checked="checked" class="rev-color-selector orange" id="resale_layout_color_orange" name="resale[layout_color]" type="radio" value="orange">
              <label for="resale_layout_color_orange" class="rev-label-color orange" title="Selecionar esta cor">
                Selecionar cor:
                laranja
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector purple" id="resale_layout_color_purple" name="resale[layout_color]" type="radio" value="purple">
              <label for="resale_layout_color_purple" class="rev-label-color purple" title="Selecionar esta cor">
                Selecionar cor:
                roxo
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector green" id="resale_layout_color_green" name="resale[layout_color]" type="radio" value="green">
              <label for="resale_layout_color_green" class="rev-label-color green" title="Selecionar esta cor">
                Selecionar cor:
                verde
              </label>
            </div>
            <div class="col-md-1 col-xs-3">
              <input class="rev-color-selector wine" id="resale_layout_color_wine" name="resale[layout_color]" type="radio" value="wine">
              <label for="resale_layout_color_wine" class="rev-label-color wine" title="Selecionar esta cor">
                Selecionar cor:
                vinho
              </label>
            </div>
        </div>
      </div>


    </div>

    <div class="col-md-3">
      <img src="https://emkt-assets.locaweb.com.br/assets/img/blue.jpg">
    </div>

    <div class="col-md-12">
      <hr>
      <button type="submit" class="ls-btn-primary">Salvar</button>
      <a href="#" class="ls-btn">Cancelar</a>
      <hr class="ls-clearfix ls-no-border">
    </div>

  </div>
</form>

