---
title: Dashboard
layout: layout
theme_name: ls-theme-gray
title_product: Testes de UX
---

<h1 class="ls-title-intro ls-ico-list2">Paineis</h1>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/pre-painel" >Painel</a>
      <small>Revenda do Email Marketing </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel1/pre-painel" class="ls-btn-primary ls-btn-sm">Acessar</a>
    </div>
  </header>
</div>